<div class="center hero-unit">
<h1>About</h1>
<p>Yoptic es la plataforma online que permite a las opticas gestionar sus procesos misionales y de apoyo. Operamos desde Colombia y tenemos presencia en 
latinoamerica. Nuestra plataforma esta en 2 idiomas y mas de 1000 usuarios la usan diariamente. Para mayor informacion visite nuestra pagina oficial.</p>
</div>