<div class="center hero-unit">
<h1>Bienivenido a Yoptic</h1>
<p>Yoptic es la plataforma online que te permite gestionar tu optica y llevarla al exito. Mejora tu rentabilidad, fortalece las relaciones con tus clientes
 y gestiona tu desempeno.</p>
<%= link_to "Crear usuario", "#", class: "btn btn-large btn-primary" %>
</div>