<footer class="footer">
  <small>
    <a href="http://www.yoptic.com/">Our company</a>
    - Official website
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
    </ul>
  </nav>
</footer>